/* 
    button.scss
*/

.button {
    width: 100%;
    background-color: black;
    color: white;
    border: 0;
    font-family: "Cambria";
    font-weight: bold;
    padding: 10px;
    font-size: 20px;
    &:hover {
        transition: 0.3s;
        cursor: pointer;
        background-color: rgb(149, 149, 149);
    }
    &--secondary {
        position: absolute;
        width: 10rem;
        border-radius: 15px;
        font-size: 14px;
        top: 7px;
        left: 7px;
    }
}