/*
    form.scss
*/ 

.form {
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    &__title {
        font-size: 24px;
    }
    &__label {
        font-family: Cambria;
        font-size: 18px;
        margin-bottom: 15px;
    }
    &__input {
        display: block;
        margin-bottom: 15px;
        width: 100%;
    }
}