/* 
    layout.scss
*/ 

.layout {
    &--secondary {
        padding-top: 0px;
        margin-top: 0px;
        height: 100vh;
        background-image: url("../../images/background.jpg");
        background-size: cover;
        clear: both;
    }
}